# dependencies
/node_modules

# build output
/dist

# testing
/coverage
/scripts/qa-screens
/scripts/qa-landing

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# typescript
*.tsbuildinfo

docker-compose.yml
.env.docker
